.job__list_container {
  background-color: #e4f2ff;
  padding: 134px 100px 91px 100px;
  display: flex;
  flex-direction: column;
}

.job__list_title {
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 11.5px;
}

.job__list_text {
  font-size: 15px;
  font-weight: 600;
  color: rgba(141, 141, 141, 0.8);
  margin-bottom: 42.5px;
}

.jobs__list_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 40px;
}

.jobs_cards {
  padding: 40px 0 40px 46px;
  max-width: 433px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.job_category {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(141, 141, 141, 0.8);
}

.category_circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 17px;
  vertical-align: middle;
}

.job_name {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  max-width: 272px;
  height: 107px;
}

.jobLocation {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(141, 141, 141, 0.8);
  margin-bottom: 53.53px;
}

.location_icon {
  width: 14px;
  height: 19px;
}

.job__time {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(141, 141, 141, 0.8);
}

.company_logo {
  width: 70px;
  height: auto;
}

.button {
  margin: 0 auto;
  margin-top: 90px;
  width: 236px;
  height: 63px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #274059;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
