.footer_container {
  background-color: #52606d;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.footer_title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-top: 56px;
  margin-bottom: 55px;
}

.footer_city {
  display: flex;
  justify-content: space-between;
}

.city_name {
  font-size: 22px;
  font-weight: 600;
  color: #d0e8ff;
  margin-bottom: 48px;
}

@media screen and (max-width: 1300px) {
  .footer_container {
    padding: 0 70px;
  }
}

@media screen and (max-width: 1200px) {
  .footer_container {
    padding: 0 50px;
  }

  .footer_title {
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .city_name {
    font-size: 18px;
    font-weight: 600;
    color: #d0e8ff;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 950px) {
  .footer_container {
    padding: 0 30px;
  }

  .footer_title {
    font-size: 18px;
    margin-top: 38px;
    margin-bottom: 40px;
  }

  .city_name {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer_container {
    padding: 0 25px;
  }

  .footer_title {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .city_name {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 590px) {
  .footer_container {
    padding: 0 22px;
  }

  .footer_title {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .city_name {
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 460px) {
  .footer_container {
    padding: 0 16px;
  }

  .footer_title {
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 15px;
  }

  .city_name {
    font-size: 6px;
    font-weight: 400;
    margin-bottom: 18px;
  }
}
