.footer_container {
  background-color: #52606d;
  padding: 56px 100px 48px 100px;
  display: flex;
  flex-direction: column;
}

.footer_title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 55px;
}

.footer_city {
  display: flex;
  justify-content: space-between;
}

.city_name {
  font-size: 22px;
  font-weight: 600;
  color: #d0e8ff;
}
